%nav.primary-navigation{role: "navigation"}
  %ul.navigation-item-group
    %li.nav-item= link_to 'Where to Go', '#'
    %li.nav-item= link_to 'Pick a Dirigible', '#'
    %li.nav-item= link_to 'Verify Your License', '#'
    %li.nav-item= link_to 'About Finneous', '#'
    %li.nav-item= link_to 'Contact Us', '#'
